// home
.welcome-page {
    display: flex;
    height: calc(~"100vh");
    margin-top: 55px;
    overflow: hidden;
    // 左边菜单
    .nav-left {
        width: 33.444%;
        min-width: 180px;
    }
    // 右边容器
    .right-container {
        flex: 1;
        height: 100%;
        padding: 0 0 30px;
        overflow: hidden;
        background: #e8eef2;
    }
}
